In [1]:
from platform import python_version
print("A versão do Python usada nesse Notebook é ", python_version())

A versão do Python usada nesse Notebook é  3.10.9

# Objeto
##### Em python tudo é objeto

In [8]:
lst_num = ["Data", "Academy", "Nota", 10, 10]

In [4]:
type(lst_num)

list

In [5]:
print(type([]))

<class 'list'>

In [9]:
lst_num.count(10)

2

In [12]:
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [13]:
class Carro(object):
    pass

In [15]:
ferrari = Carro()

In [16]:
print(type(ferrari))

<class '__main__.Carro'>

In [17]:
class Estudante:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [18]:
e1 = Estudante("jose", 27, 8.5)

In [19]:
e1.nome

'jose'

In [20]:
e1.nota

8.5

In [21]:
e1.idade

27

In [22]:
class Funcionario:
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
    
    def list_fun(self):
        print(f"Funcionario {self.nome} recebe R${self.salario} no cargo de {self.cargo}")

In [23]:
fun1 = Funcionario("Jose", 500, "Estagiario")

In [24]:
fun1.list_fun()

Funcionario Jose recebe R$500 no cargo de Estagiario

In [25]:
hasattr(fun1, "nome")

True

In [26]:
hasattr(fun1, "salario")

True

In [27]:
setattr(fun1, "cargo", "Analista de Dados")

In [29]:
setattr(fun1, "salario", 3000)

In [30]:
hasattr(fun1, "salario")

True

In [32]:
getattr(fun1, "cargo")

'Analista de Dados'

In [33]:
getattr(fun1, "salario")

3000

In [31]:
fun1.list_fun()

Funcionario Jose recebe R$3000 no cargo de Analista de Dados

In [34]:
delattr(fun1, "nome")

In [36]:
hasattr(fun1, "nome")

False

In [37]:
setattr(fun1, "nome", "Ricardo")

In [38]:
hasattr(fun1, "nome")

True

In [39]:
fun1.list_fun()

Funcionario Ricardo recebe R$3000 no cargo de Analista de Dados